.mv-header {
    padding: 2.5rem !important;
    background: $shark-color !important;
    & .mv-logo {
        height: 3rem;
    }
    & .navbar-nav .nav-link {
        color: rgba($white-color, .5) !important;
        font-size: 1.4rem;
        font-weight: 300;
        &:focus,&:hover {
            color: $white-color !important;
        }
        &.active {
            border-radius: 4.5rem !important;
            color: $white-color !important;
            background-image: linear-gradient(136deg, $eminence-color, $hibiscus-color) !important;
            padding-left: 1.4rem !important;
            padding-right: 1.4rem !important;
        }
    }
    & .navbar-brand {
        color: $white-color !important;
    }
    & .navbar-nav .nav-link {
        color: rgba($white-color, 1);
    }
}

.mv-search {
    & .fa-search {
        color: $hibiscus-color;
        font-size: 2.5rem;
    }
}