.list-group {
    border: solid 0.5px rgba($brownish-grey-color, 0.17);
    border-radius: 0px;
    font-size: 14px;
    font-weight: 100 !important;

    & .list-group-item {
        background-color: rgba($black-color, 0) !important;
        color: rgba($white-color,.5) !important;
        border: none !important;
        border-radius: 0px;
    
        &.active {
            z-index: 2;
            color: $white-color !important;
            background-color: $charcoal-grey-color !important;
            border-left: 3px solid $hibiscus-color !important;
        }
    }
}