.list-group {
    border: solid .05rem rgba($brownish-grey-color, 0.17);
    border-radius: 0rem;
    font-size: 1.4rem;
    font-weight: 100 !important;
    max-width: 20rem;

    & .list-group-item {
        background-color: rgba($black-color, 0) !important;
        color: rgba($white-color,.5) !important;
        border: none !important;
        border-radius: 0rem;
    
        &.active {
            z-index: 2;
            color: $white-color !important;
            background-color: $charcoal-grey-color !important;
            border-left: .3rem solid $hibiscus-color !important;
        }
    }
}