.close {
    font-size: 3.5rem;
    font-weight: 100;
    color: #fff;
    &:hover {
        font-size: 3.5rem;
        font-weight: 100;
        color: #fff;
    }
}

.modal {
    &-content {
        background-color: $black-color !important;
        border: none;
    }

    &-header {
        border: none;
        text-align: center;
        padding-right: 3rem;
    }

    &-title {
        font-size: 1.8rem;
    }
}

.movie {

    &-trailer {
        background-size: cover;
        background-position: center;
        line-height: 32rem;
        height: 32rem;
        border-radius: 1rem;
        color: $white-color;
        margin-bottom: 2rem
    }

    &-poster {
        border-radius: .5rem;
        width: 100%;
    }

    &-title {
        font-size: 2.8rem;
        color: #e9e9e9;
    }

    &-release {
        font-size: 1.8rem;
        color: #e9e9e9;
    }

    &-vote {
        color: $hibiscus-color;
        font-size: 1.8rem;
    }
    
    &-overview {
        & h1 {
            font-size: 1.8rem;
            color: #e9e9e9;
        }
        & p {
            font-size: 1.6rem;
            color: #e9e9e9;
            font-weight: 100;
        }
    }
    &-billed {
        margin-top: 2rem;

        & h1 {
            font-size: 1.8rem;
            color: #e9e9e9;
            margin-bottom: 2rem;
        }
    }
}