.list {
    display: block;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
    margin-bottom: 5px;

    &-header {
        display: block;
        float: left;
        width: 25%;
        overflow: hidden;
        position: relative;
        border-radius: 2px 0 0 2px;
        @media only screen and (max-width: 991px) {
            & {
                display: block;
                width: 100%;
                padding: 0;
                border-radius: 0;
            }
        }

        & img {
            width: 100%;
        }

        & .list-header-image:after {
            display: block;
            content: '';
            background-color: rgba(0,0,0,.4);
            position: absolute;
            top: 100%;
            left: 100%;
            width: 100px;
            height: 100px;
            box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
            z-index: 1;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            opacity: 0;
            filter: alpha(opacity=0);
            transition: all .8s;
            -moz-transition: all .8s;
            -webkit-transition: all .8s;
            -o-transition: all .8s;
        }
    }

    &-content {
        display: block;
        margin-left: 25%;
        padding: 15px;
        position: relative;
        @media only screen and (max-width: 991px) {
        
            & {
                display: block;
                width: 100%;
                margin-left: 0;
                padding: 15px;
                clear: both;
            }
        }
    }

    &-meta {
        display: block;
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 100%;

        & .list-meta-item {
            display: inline-block;
            margin-right: 18px;
            color: #9A9A9A;
        }
    }

    &:after {
        display: block;
        clear: both;
        content: '';
    }

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    }
}

.movie-card {
    background-color: transparent !important;
    border: none !important;

    &__poster {
        display: block;
        height: 50vh;
        object-fit: cover;
        border-radius: .55rem;
        object-position: center;
    }

    &__body {
        padding: 1rem;
    }
    &__title {
        height: 3.4rem;
        color: #e9e9e9;
        font-weight: bold;
        text-align: left; 
        font-size: 1.6rem;
        // Remove link default text decoration
        & a {
            text-decoration: none;
        }
    }
    &__release-date{
        color: $white-color;
        opacity: 0.8;
        font-size: 1.4rem;
    }
    &__vote {
        width: 5.5rem;
        font-size: 2.5rem;
        height: 5.5rem;
        line-height: 5.5rem;
        position: absolute !important;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        right: .5rem;
        top: .5rem;
        font-weight: 500;
        background-image: linear-gradient(168deg, #622774, #c53364);

        & sup {
            font-size: 2rem;
            vertical-align: middle;
            font-weight: 100;
        }
    }
}