language: node_js
node_js: "12"
cache: yarn

addons:
  sonarcloud:
    organization: $SONAR_ORG
    token:
      secure: $SONAR_TOKEN

install:
  - yarn install

script:
  # - npm test
  # - npm test -- --coverage
  - yarn build
  - bash sonar.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: master
