$dove-gray-color: #666666;
$abbey-color: #484A4D;
$shark-color:#232528;
$white-color: #ffffff;
$black-color: #000000;
$brownish-grey-color: #666666;
$charcoal-grey-color: #2e3135;
$eminence-color: #622774;
$hibiscus-color: #c53364;