/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
  font-size: 62.5%; }

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 14rem;
  padding-right: 5rem;
  padding-left: 5rem;
  background: #232528;
  color: #e9e9e9; }

.list {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  transition: all .2s ease-in-out;
  margin-bottom: 5px; }
  .list-header {
    display: block;
    float: left;
    width: 25%;
    overflow: hidden;
    position: relative;
    border-radius: 2px 0 0 2px; }
    @media only screen and (max-width: 991px) {
      .list-header {
        display: block;
        width: 100%;
        padding: 0;
        border-radius: 0; } }
    .list-header img {
      width: 100%; }
    .list-header .list-header-image:after {
      display: block;
      content: '';
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 100%;
      left: 100%;
      width: 100px;
      height: 100px;
      box-shadow: 0 0 200px 100px rgba(0, 0, 0, 0.58);
      z-index: 1;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      filter: alpha(opacity=0);
      transition: all .8s;
      -moz-transition: all .8s;
      -webkit-transition: all .8s;
      -o-transition: all .8s; }
  .list-content {
    display: block;
    margin-left: 25%;
    padding: 15px;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .list-content {
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 15px;
        clear: both; } }
  .list-meta {
    display: block;
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 100%; }
    .list-meta .list-meta-item {
      display: inline-block;
      margin-right: 18px;
      color: #9A9A9A; }
  .list:after {
    display: block;
    clear: both;
    content: ''; }
  .list:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.movie-card {
  background-color: transparent !important;
  border: none !important; }
  .movie-card__poster {
    display: block;
    height: 36rem;
    object-fit: cover;
    border-radius: .55rem;
    object-position: center;
    box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(0, 0, 0, 0.1);
    animation: all .2s; }
    .movie-card__poster:hover {
      box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(0, 0, 0, 0.3);
      transform: translateY(-0.5rem); }
  .movie-card__body {
    padding: 2.5rem .5rem 2rem .5rem; }
  .movie-card__title {
    color: #e9e9e9;
    font-weight: 300;
    text-align: left;
    font-size: 1.6rem; }
    .movie-card__title a {
      text-decoration: none; }
  .movie-card__release-date {
    color: #ffffff;
    opacity: 0.8;
    font-size: 1.4rem; }
  .movie-card__vote {
    width: 3.8rem;
    font-size: 2rem;
    height: 3.8rem;
    line-height: 3.8rem;
    position: absolute !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    right: .5rem;
    top: .5rem;
    font-weight: 400;
    background-image: linear-gradient(168deg, #622774, #c53364);
    box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(98, 39, 116, 0.3); }
    .movie-card__vote sup {
      font-size: 1.6rem;
      vertical-align: middle;
      font-weight: 100; }

.actor-card {
  background-color: transparent;
  border: none; }
  .actor-card__face {
    display: block;
    height: 10vh;
    object-fit: cover;
    object-position: center; }
  .actor-card__body {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem; }
  .actor-card__name {
    font-size: 1.4rem;
    height: 3rem;
    color: #e9e9e9;
    font-weight: 100; }

.close {
  font-size: 3.5rem;
  font-weight: 100;
  color: #fff; }
  .close:hover {
    font-size: 3.5rem;
    font-weight: 100;
    color: #fff; }

.modal-content {
  background-color: #000000 !important;
  border: none; }

.modal-header {
  border: none;
  text-align: center;
  padding-right: 3rem; }

.modal-title {
  font-size: 1.8rem; }

.movie-trailer {
  background-size: cover;
  background-position: center;
  line-height: 32rem;
  height: 32rem;
  border-radius: 1rem;
  color: #ffffff;
  margin-bottom: 2rem; }

.movie-poster {
  border-radius: .5rem;
  width: 100%; }

.movie-title {
  font-size: 2.8rem;
  color: #e9e9e9; }

.movie-release {
  font-size: 1.8rem;
  color: #e9e9e9; }

.movie-vote {
  color: #c53364;
  font-size: 1.8rem; }

.movie-overview h1 {
  font-size: 1.8rem;
  color: #e9e9e9; }

.movie-overview p {
  font-size: 1.6rem;
  color: #e9e9e9;
  font-weight: 100; }

.movie-billed {
  margin-top: 2rem; }
  .movie-billed h1 {
    font-size: 1.8rem;
    color: #e9e9e9;
    margin-bottom: 2rem; }

footer {
  padding: 3rem 0; }

.mv-header {
  padding: 2.5rem !important;
  background: #232528 !important; }
  .mv-header .mv-logo {
    height: 3rem; }
  .mv-header .nav-item:not(:last-child) {
    margin-right: 4rem; }
  .mv-header .nav-item:first-child {
    margin-left: 4rem; }
  .mv-header .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 1.5rem;
    font-weight: 300; }
    .mv-header .navbar-nav .nav-link:focus, .mv-header .navbar-nav .nav-link:hover {
      color: #ffffff !important; }
    .mv-header .navbar-nav .nav-link.active {
      border-radius: 4.5rem !important;
      color: #ffffff !important;
      background-image: linear-gradient(136deg, #622774, #c53364) !important;
      padding-left: 4rem !important;
      padding-right: 4rem !important; }
  .mv-header .navbar-brand {
    color: #ffffff !important; }
  .mv-header .navbar-nav .nav-link {
    color: white; }

.mv-search .fa-search {
  color: #c53364;
  font-size: 2.5rem; }

.list-group {
  border: solid 0.05rem rgba(102, 102, 102, 0.17);
  border-radius: 0rem;
  font-size: 1.4rem;
  font-weight: 100 !important;
  max-width: 20rem; }
  .list-group .list-group-item {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
    border-radius: 0rem; }
    .list-group .list-group-item.active {
      z-index: 2;
      color: #ffffff !important;
      background-color: #2e3135 !important;
      border-left: 0.3rem solid #c53364 !important; }

.actor-card__face--page {
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: .5rem; }

.actor-card__info {
  font-size: 1.2rem;
  padding-top: 0;
  margin-top: .5rem; }

.actor-page-info__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #666666; }

.actor-page-info__content {
  font-size: 1.5rem;
  font-weight: 300;
  color: #e9e9e9; }

.movies-list {
  border-top: solid .1rem #333437; }
  .movies-list__title {
    padding: .3rem 0rem .3rem 1rem; }

footer {
  padding: 3rem 0; }

.page-title {
  padding: .3rem 0px .3rem 1rem;
  line-height: 1;
  font-weight: 500;
  text-align: left !important;
  color: #666666 !important;
  font-size: 2.5rem !important;
  margin-bottom: 2.5rem; }

.modal-content {
  background-color: transparent;
  border: none; }

a {
  color: #ffffff !important;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a :hover {
    color: #ffffff !important;
    text-decoration: underline; }

.page-item.active .page-link {
  z-index: 1;
  color: #ffffff !important;
  background-image: linear-gradient(136deg, #622774, #c53364);
  border: none; }

.page-item.disabled .page-link {
  color: #ffffff;
  pointer-events: none;
  cursor: auto;
  background-color: transparent; }

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -.1rem;
  line-height: 1.25;
  color: #ffffff;
  background-color: transparent;
  border-radius: .5rem;
  border: none; }
  .page-link:hover {
    color: #ffffff !important;
    text-decoration: none;
    background-image: linear-gradient(136deg, #622774, #c53364);
    opacity: .4; }

.badge-primary {
  color: #ffffff !important;
  background-color: rgba(72, 74, 77, 0.733) !important;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  border-radius: .5rem;
  padding: .5rem 1.2rem; }
