/*
 * Style tweaks
 * --------------------------------------------------
 */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "abstracts/_variables";

@import "base/reset";

@import "components/movie-card";
@import "components/actor-card";
@import "components/movie-header";

@import "layout/footer";
@import "layout/header";
@import "layout/sidebar";

@import "pages/actor-page";
@import "pages/movie-page";

footer {
  padding: 3rem 0;
}
.page-title {
  padding: 0.3rem 0px 0.3rem 1rem;
  line-height: 1;
  font-weight: 500;
  text-align: left !important;
  color: $dove-gray-color !important;
  font-size: 2.5rem !important;
  margin-bottom: 2.5rem;
}
.modal-content {
  background-color: transparent;
  border: none;
}

a {
  color: $white-color !important;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  & :hover {
    color: $white-color !important;
    text-decoration: underline;
  }
}

.page-item {
  &.active .page-link {
    z-index: 1;
    color: $white-color !important;
    background-image: linear-gradient(136deg, $eminence-color, $hibiscus-color);
    border: none;
  }
  &.disabled .page-link {
    color: $white-color;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -0.1rem;
  line-height: 1.25;
  color: $white-color;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  &:hover {
    color: $white-color !important;
    text-decoration: none;
    background-image: linear-gradient(136deg, $eminence-color, $hibiscus-color);
    opacity: 0.4;
  }
}

.badge-primary {
  color: $white-color !important;
  background-color: rgba($abbey-color, 0.733) !important;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: left;
  color: rgba($white-color, 0.7);
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
}
