/*
 * Style tweaks
 * --------------------------------------------------
 */

 @import "abstracts/_variables";

 @import "base/reset";

 @import "components/movie-card";
 @import "components/actor-card";

 @import "layout/footer";
 @import "layout/header";
 @import "layout/sidebar";

 @import "pages/actor-page";

 footer {
     padding: 3rem 0;
 }
 .page-title {
     padding: .3rem 0px .3rem 1rem;
     line-height: 1;
     font-weight: bold;
     text-align: left !important;
     color: $dove-gray-color !important;
     font-size: 1.55rem !important;
 }
 .modal-content {
     background-color: transparent;
     border: none;
 }
 
 a {
     color: $white-color !important;
     text-decoration: none;
     background-color: transparent;
     -webkit-text-decoration-skip: objects;
     & :hover {
         color: $white-color !important;
         text-decoration: underline;
     }
 }
 
 .page-item {
     &.active .page-link {
         z-index: 1;
         color: $white-color !important;
         background-image: linear-gradient(136deg, $eminence-color, $hibiscus-color);
         border: none;
     }
     &.disabled .page-link {
         color: $white-color;
         pointer-events: none;
         cursor: auto;
         background-color: transparent;
     }
 }
 
 .page-link {
     position: relative;
     display: block;
     padding: .5rem .75rem;
     margin-left: -.1rem;
     line-height: 1.25;
     color: $white-color;
     background-color: transparent;
     border-radius: .5rem;
     border: none;
     &:hover {
         color: $white-color !important;
         text-decoration: none;
         background-image: linear-gradient(136deg, $eminence-color, $hibiscus-color);
         opacity: .4;
     }
 }
 
 .badge-primary {
     color: $white-color !important;
     background-color: rgba($abbey-color, 0.733) !important;
     font-weight: 100;
     font-size: 1.2rem;
     text-align: left;
     color: rgba($white-color, 0.7);
     border-radius: .5rem;
     padding: .5rem 1.2rem;
 }