.list-group-item {
    background-color: rgba(0,0,0,0) !important;
    color: rgba(255, 255, 255,.5) !important;
    border: none !important;
}

.list-group-item.active {
    z-index: 2;
    color: #ffffff !important;
    background-color: #2e3135 !important;
    border-left: 3px solid #c53364 !important;
}
.list-group {
    border: solid 0.5px rgba(102, 102, 102, 0.17);
    border-radius: 0;
    font-size: 14px;
    font-weight: 100 !important;
}