/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
}
footer {
    padding: 30px 0;
}
