/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 140px;
    padding-right: 50px;
    padding-left: 50px;
    background: #232528;
    color: #e9e9e9;
}
footer {
    padding: 30px 0;
}
.page-title {
    padding: .3em 0px .3em 10px;
    line-height: 1;
    font-weight: bold;
    text-align: left !important;
    color: #666666 !important;
    font-size: 1.55em !important;
}

a {
    color: #ffffff !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #ffffff !important;
    text-decoration: underline;
}

.badge-primary {
    color: #fff !important;
    background-color: #0099cc !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-image: linear-gradient(136deg, #622774, #c53364);
    border: none;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    border: none;
}
.page-item.disabled .page-link {
    color: #ffffff;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
}
.page-link:hover {
    color: #fff !important;
    text-decoration: none;
    background-image: linear-gradient(136deg, #622774, #c53364);
    opacity: .4;
}