html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 140px;
    padding-right: 50px;
    padding-left: 50px;
    background: #232528;
    color: #e9e9e9;
}